<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Тимошка</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="..\css\template.css">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="..\img\Logo.jpg" alt="Логотип" />
                    <h1>Зоогостиница Тимошка</h1>
                </div>
                <nav class="navigation">
                    <ul>
                        <li><a href="template.html">Главная</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li class="dropdown">
                            <a href="#more-info">Подробнее</a>
                            <ul class="dropdown-menu">
                                <li><a href="prices.html">Цены</a></li>
                                <li><a href="services.html">Услуги</a></li>
                                <li><a href="contacts.html">Контакты</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <button class="request-btn">Оставить заявку</button>
            </div>
        </header>
        <footer class="footer">
            <div class="footer-container">
                <p>© 2024 Зоогистиница Тимошка. Все права защищены.</p>
            </div>
        </footer>
        <script src="..\js\script.js" async defer></script>
    </body>
</html>